*{
    margin: 0;
    padding: 0;
}
main{
    max-width: 1160px;
    border: solid red 2px;
    margin: 0 auto;

}

/* sheard style */
.dark-2{
    color: #414040;
}
.dark-3{
    color: #707070;
}
.dark-6{
    color: #E7E7E7;
}
.btn{
    background-color: #B68C5A;
    color: white;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
/*nav style start */
nav{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;

}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.nav-logo h1{
    font-size: 2.2rem;
    font-weight: 800;
}
.nav-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.nav-link ul li{
    font-size: 1rem;
    font-weight: 400;
    list-style: none;
    
}
.nav-link ul li a{
    text-decoration: none;
    color:#707070 ;
}
.nav-link i{
    transform: rotate(-90deg);
    margin-left: 8px;
}
.nav-btn a{
    text-decoration: none;
    color: white;
}
/*bennar section start*/
.bennar-conteinar{
    max-width: 1160px;
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.bennar-descreption{
 text-align: center;
 padding: 100px 0;
}
.bennar-descreption h1{
    color: white;
    font-size: 4.4rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.bennar-descreption p{
    line-height: 20px;
    padding-bottom: 20px;
}
.bennar-descreption input{
    padding: 12px 100px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}
/*The Legal Practice Area section start */
.legal-practice-title{
    text-align: center;
    padding: 100px 0;
}
.legal-practice-title h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;

}
.legal-practice-title p{
    font-weight: 400;
    line-height: 25px;
}
.legal-practice-area-model-box{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    row-gap: 20px;

}
.legal-practice-area-box{
    max-width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(231, 231, 231);
}
.legal-practice-area-box h1{
    font-size: 2rem;
    font-weight: 800;
    line-height: 25px;
}
.legal-practice-area-box p{
    font-weight: 400;
}
/*What Our Client Say start*/
.What-Our-Client-Say-title{
    text-align: center;
    padding: 100px 0;
}
.What-Our-Client-Say-title h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;

}
.What-Our-Client-Say-title p{
    font-weight: 400;
    line-height: 25px;
}
.Our-Client-Say-conteinar{
    background-image: url("/images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
}
.Our-Client-Say-title{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 0 auto;
}
.Our-Client-Say-title h1{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}
/*Contact With Us start*/
.Contact-With-Us-title{
    text-align: center;
    padding: 100px 0;
}
.Contact-With-Us-title h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;

}
.Contact-With-Us-title p{
    font-weight: 400;
    line-height: 25px;
}
.contact-us-main-conteinar{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 padding: 100px 0;
}
.contact-us-conteinar-1{
    max-width: 550px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.contact-us-conteinar-box{
    max-width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(231, 231, 231);
}
.contact-us-conteinar-box h1{
    font-size: 2rem;
    font-weight: 800;
    line-height: 25px;
}
.contact-us-conteinar-box p{
    font-weight: 400;
}
.contact-us-conteinar-2{
    max-width: 550px;
    
}
.contact-us-conteinar-2 input{
    padding: 20px 150px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
   
}
.contact-us-conteinar-2 .massege{
 height: 100px;
}
.contact-us-conteinar-2 .btn-2{
    padding: 10px 150px;
}