*{
    margin: 0;
    padding: 0;
}

/* sheard style */
.dark-2{
    color: #414040;
}
.dark-3{
    color: #707070;
}
.dark-6{
    color: #E7E7E7;
}
.btn{
    background-color: #B68C5A;
    color: white;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
/*nav style start */
nav{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid red 2px;
    margin: 0 auto;
    padding: 20px 0;

}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.nav-logo h1{
    font-size: 2.2rem;
    font-weight: 800;
}
.nav-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.nav-link ul li{
    font-size: 1rem;
    font-weight: 400;
    list-style: none;
    
}
.nav-link ul li a{
    text-decoration: none;
    color:#707070 ;
}
.nav-link i{
    transform: rotate(-90deg);
    margin-left: 8px;
}
.nav-btn a{
    text-decoration: none;
    color: white;
}
/*bennar section start*/
.bennar-conteinar{
    max-width: 1160px;
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
.bennar-descreption{
 text-align: center;
 padding: 100px 0;
}
.bennar-descreption h1{
    color: white;
    font-size: 4.4rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.bennar-descreption p{
    line-height: 20px;
    padding-bottom: 20px;
}
.bennar-descreption input{
    padding: 12px 100px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}

